*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

a{
    user-select: none;
}

#trish{
    display: block;
    padding: 20px;
    color: goldenrod;
    position: sticky;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0rem;
}

#track{
    display: flex;
    will-change: left;
    will-change: transform;
    gap: 2vw;
    position: absolute;
    left:   50%;
    top:    50%;
    will-change: transform;
    transform: translate(0%, -50%);
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none; 
} 

#track > .image{
    will-change: object-position;
    will-change: width;
    will-change: height;
    width: 20vw;
    height: 56vh;
    /*
    width: 40vmin;
    height: 56vmin;
    */
    object-fit: cover;
    object-position: 100% center;
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}
