*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    will-change: object-position;
    object-position: 100% center;
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;              
}

#track{
    /*margin-left: -20vmin; */
    display: flex;
    gap: 3vmin;
    position: absolute;
    left:   50%;
    top:    50%;
    will-change: transform;
    transform: translate(0%, -50%);
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none; 
} 